<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow shadow-sm">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand" href="http://vendista.ru/">
                    <img src="	https://p.vendista.ru/images/logo_header_2_2x.png" width="125" height="40" />
                </a>
            </div>
            <div class="col-8">
                <p class="text-light bg-dark">Личный кабинет - Отправка команды на терминал</p>
            </div>
            <div class="col-2 clearfix">
                <p class="text-light bg-dark">Партнер</p>
            </div>
        </div>
    </nav>
</header>
